.field {
    width: 30px;
    height: 30px;
    border: 1px solid red;
}

.field:hover {
    background-color: aqua;
}

.row {
    display: flex;
    flex-direction: row;
}

.obstacle {
    background-color: grey;
}

.path {
    background-color: green;
}

.start {
    background-color: blue;
}

.end {
    background-color: yellow;
}

.controls {
    display: flex;
    flex-direction: row;
    min-height: 3vh;
}

button {
    display: inline-block;
    margin: 0;
    padding: 0.75rem 1rem;
    background-color: #1fa3ec;
    border: 0px;
    border-radius: 5px;
    margin: 4px;
}
.button:hover {
    opacity: 0.85;
}
